.container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2{
  display: flex;
  padding: 1rem;
  width: 350px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 12px 16px 0 rgba(9, 9, 9, 0.47), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn{
  border: #ed7103;
  background-color: #ed7103;
  border-radius: 3px;
  margin: 15px 5px;
  padding: 10px 45px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}